In [10]:
%matplotlib inline
import pandas as pd
import seaborn as sns

/Users/mrefermat/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")
/Users/mrefermat/anaconda/lib/python2.7/site-packages/IPython/kernel/__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)

In [11]:
import pylab
sns.set(font_scale=3)
pylab.rcParams['figure.figsize'] = (24, 18)

In [22]:
data=pd.read_csv('AQR.csv',parse_dates=['DATE'], index_col=0)[['VAL','MOM']]

In [23]:
data=data.join(pd.read_csv('FF.csv',parse_dates=['Date'],index_col=0).resample(rule='m',how='sum')/100.)

/Users/mrefermat/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  """Entry point for launching an IPython kernel.

In [24]:
data.head()

                 VAL       MOM  Mkt-RF     SMB     HML       RF
DATE
1972-01-31  0.010065 -0.012955  0.0248  0.0584  0.0196  0.00294
1972-02-29 -0.037528  0.038530  0.0285  0.0135 -0.0268  0.00240
1972-03-31  0.053548 -0.042824  0.0065 -0.0028 -0.0166  0.00264
1972-04-30  0.007434  0.010658  0.0028  0.0004  0.0034  0.00280
1972-05-31 -0.019909  0.007096  0.0129 -0.0280 -0.0277  0.00308